name: Django CI

on:
  pull_request:
    branches: [ develop, main ]
  push:
    branches: [ develop, main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build containers
        run: docker compose build

      - name: Run migrations
        run: docker compose run --rm accommodation-service python manage.py migrate

      - name: Run tests
        run: docker compose run --rm accommodation-service python manage.py test